In [1]:
import pandas as pd
import numpy as np

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [2]:
one = pd.Series(["Saleh", "Hamad", "Mohammed"], index=[1,2,3])
one

1       Saleh
2       Hamad
3    Mohammed
dtype: object

## Q2: Change indexes to 11, 12, 13.

In [3]:
one.index = (11, 12, 13)
one

11       Saleh
12       Hamad
13    Mohammed
dtype: object

## Q3: Retrieve First and second elements.

In [4]:
one.iloc[:2]

11    Saleh
12    Hamad
dtype: object

## Q4: Add duplicate elements, then remove the duplication

In [5]:
one = pd.concat([one, one])
one

11       Saleh
12       Hamad
13    Mohammed
11       Saleh
12       Hamad
13    Mohammed
dtype: object

In [6]:
one.drop_duplicates(inplace = True)
one

11       Saleh
12       Hamad
13    Mohammed
dtype: object

## Q5: Create a Students DataFrame has three columns (ID, Name)

In [7]:
names_df = pd.read_csv("NationalNames.csv", sep=",", usecols=["Name"]) # US names Data 
names_df.head()

        Name
0       Mary
1       Anna
2       Emma
3  Elizabeth
4     Minnie

In [8]:
# Build Data
IDs = [x for x in range(440914284, 441019794)]
names = [names_df.iloc[x, 0] for x in range(len(IDs))]
birthdays = np.random.randint(1995, 2010, size=len(IDs))

student_df = pd.DataFrame({
     "ID": IDs,
     "Name": names,
     "Birthday": birthdays,
})
student_df

               ID       Name  Birthday
0       440914284       Mary      1998
1       440914285       Anna      2006
2       440914286       Emma      1999
3       440914287  Elizabeth      2007
4       440914288     Minnie      2003
...           ...        ...       ...
105505  441019789      Lavon      2000
105506  441019790      Libby      2007
105507  441019791     Pearle      2002
105508  441019792     Pinkie      1999
105509  441019793  Rosemarie      2000

[105510 rows x 3 columns]

## Q6: Read educ_figdp_1_Data.csv file

In [9]:
df = pd.read_csv("educ_figdp_1_Data.csv") # US names Data 
df.head()

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
0,2000,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
1,2001,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
2,2002,European Union (28 countries),Total public expenditure on education as % of ...,5.00,e
3,2003,European Union (28 countries),Total public expenditure on education as % of ...,5.03,e
4,2004,European Union (28 countries),Total public expenditure on education as % of ...,4.95,e

## Q7: What is the difference between loc and slicing?
- loc use the index labels as references
- slice use the position as references

In [12]:
### loc, depends on the (index/label) of row.
### slice/iloc , depends on the position of the row.

# example of loc
df.loc[2: 8, "TIME": "INDIC_ED"] # depends on the (label/index)

,TIME,GEO,INDIC_ED
2,2002,European Union (28 countries),Total public expenditure on education as % of ...
3,2003,European Union (28 countries),Total public expenditure on education as % of ...
4,2004,European Union (28 countries),Total public expenditure on education as % of ...
5,2005,European Union (28 countries),Total public expenditure on education as % of ...
6,2006,European Union (28 countries),Total public expenditure on education as % of ...
7,2007,European Union (28 countries),Total public expenditure on education as % of ...
8,2008,European Union (28 countries),Total public expenditure on education as % of ...

In [13]:
## example of slice/iloc
df.iloc[2: 8, "TIME": "INDIC_ED"] # Error Because iloc or slicing depends on the position not index

TypeError: cannot do positional indexing on Index with these indexers [TIME] of type str

In [15]:
## example of slice/iloc
df.iloc[2: 8, :3] # depends on the position

,TIME,GEO,INDIC_ED
2,2002,European Union (28 countries),Total public expenditure on education as % of ...
3,2003,European Union (28 countries),Total public expenditure on education as % of ...
4,2004,European Union (28 countries),Total public expenditure on education as % of ...
5,2005,European Union (28 countries),Total public expenditure on education as % of ...
6,2006,European Union (28 countries),Total public expenditure on education as % of ...
7,2007,European Union (28 countries),Total public expenditure on education as % of ...